



/* if the viewport is equal to 340px or less than that */
@media only screen and (max-width:340px){

/*-------------- navbar -------------*/
    .header_area .main-menu .navbar{
        padding: 1%;
        margin: 1%;
    }

    .header_area .main-menu .navbar .navbar-brand{
        padding: 1%;
        margin: 1%;
    }

    .header_area .main-menu .navbar .navbar-toggler-icon{
        width: 20px;
        height: 17px;
    }

    .header_area .main-menu .navbar{
        padding-right: 1.5rem;
    }



/*---------------- about-area ---------------*/
    .site-main .about-area .row{
        padding: 0%;
    }

    .site-main .about-area .about-image{
        padding-top: 5rem;
        padding-left: 1rem;
    }

/*------------- brand-area -----------------*/    
    .site-main .brand-area{
        padding: 2%;
    }

/*-------------------- project-area -----------------*/
    .site-main .project-area .button-group button{
        width: 100%;
        font: normal 500 17px/30px var(--roboto);
    }

/*------------------- client say about-me-area ---------------*/
    .site-main .about-area .container .about-title{
        width: 300px;
        height: 200px;
        text-align: center;
        padding-left: 0;
    }

    .site-main .about-area .container .row{
        padding: 0%;
        margin: 0%;
        width: 200px;
        height: 300px;
    }

    .site-main .about-area .client .client-img{
        padding: 1rem;
    }

    .site-main .about-area .client .about-client{
        padding-top: 4px;
    }

/*--------------------- global-class --------------*/
    .title-h1{
        font: normal 500 30px/30px var(--roboto);
    }
    
    p.para{
        font: normal 500 13px/18px var(--roboto);
    }

/*---------------- footer-area ----------------*/
    footer.footer-area .social a > i{
        font-size: 22px;
        padding: 1rem;
        color: var(--border-color);
    }
    

/*------------- portfolio-area --------------*/

    .portfolio-area .container .image-box h1{
        font-size: 14px;
    }


/*----------------- contact-area --------------*/
    .contact-area .contact-information{
        margin-right: 1rem;
        margin-left: 1rem;
    }

    .contact-area .contact-form form .contact-form-control{
        max-width: 280px;
    }
  
    .contact-area .contact-form form .submit{
        width: 280px;
    }

    .site-main .about-me-area .image img{
        width: 100%;
    }



}













/* if the viewport is equal to 792px or less than that */
@media only screen and (max-width:792px){

/*------------------- navbar --------------*/
.main-menu #navbarNav{
    transition: .7s ease;
    text-align: center;
}


/*------------- about-area --------------*/
    .site-main .about-area .about-title h2 > span{
        font-size: 31px;
        letter-spacing: 10px;
    }

    .site-main .about-area .about-title p{
        padding: 3%;
    }

/*------------------ brand-area -------------*/
    .site-main .brand-area{
        padding: 2rem 0;
    }

/*------------- services-area -----------------*/
    .site-main .services-area .services-title{
        padding: 2rem;
    }

/*---------------- project-area ----------------*/
    .site-main .project-area{
        padding: 0%;
        margin: 0%;
    }

    .site-main .project-area .button-group button{
        font: normal 500 17px/30px var(--roboto);
    }

    .site-main .project-area .button-group button + button{
        padding: 0%;
        padding-left: 4%;
    }

    .site-main .project-area .button-group{
        align-items:center;
    }

/*-------------------- portfolio-area -----------------*/
    .portfolio-area .container{
        column-count: 2;
    }



}




